TeamSMS_covid19.json
[{"id":"aa2cf2ae.2eba2","type":"tab","label":"Lockdown Dashboard New","disabled":false,"info":""},{"id":"c4c6e71.f675d18","type":"twitter in","z":"aa2cf2ae.2eba2","twitter":"","tags":"lockdown, #lockdown","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":540,"wires":[["d23a6bab.7009f8"]]},{"id":"d23a6bab.7009f8","type":"switch","z":"aa2cf2ae.2eba2","name":"","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"Bangalore","vt":"str"},{"t":"eq","v":"Chennai","vt":"str"},{"t":"eq","v":"India","vt":"str"},{"t":"eq","v":"Maharashtra, India","vt":"str"},{"t":"eq","v":"Tamil Nadu, India","vt":"str"},{"t":"eq","v":"Delhi, India","vt":"str"},{"t":"eq","v":"Gujarat, India","vt":"str"},{"t":"eq","v":"Uttar Pradesh, India","vt":"str"},{"t":"eq","v":"Karnataka, India","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":310,"y":540,"wires":[["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"],["b101e40.5a2d02"]]},{"id":"b101e40.5a2d02","type":"function","z":"aa2cf2ae.2eba2","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["ed7e889c.607d68"]]},{"id":"ed7e889c.607d68","type":"sentiment","z":"aa2cf2ae.2eba2","name":"Sentiment of Tweets","property":"payload","x":560,"y":540,"wires":[["a8bc5785.aa7be8"]]},{"id":"a8bc5785.aa7be8","type":"switch","z":"aa2cf2ae.2eba2","name":"","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"Bangalore","vt":"str"},{"t":"eq","v":"Chennai","vt":"str"},{"t":"eq","v":"India","vt":"str"},{"t":"eq","v":"Maharashtra, India","vt":"str"},{"t":"eq","v":"Tamil Nadu, India","vt":"str"},{"t":"eq","v":"Delhi, India","vt":"str"},{"t":"eq","v":"Gujarat, India","vt":"str"},{"t":"eq","v":"Uttar Pradesh, India","vt":"str"},{"t":"eq","v":"Karnataka, India","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":770,"y":520,"wires":[["7aeb3751.cbbfa8"],["7aeb3751.cbbfa8"],["7aeb3751.cbbfa8"],["e5c0d79a.740588"],["6eb0d9c9.0b89b8"],["6eb0d9c9.0b89b8"],["6eb0d9c9.0b89b8"],["6eb0d9c9.0b89b8"],["6eb0d9c9.0b89b8"],["6eb0d9c9.0b89b8"]]},{"id":"7aeb3751.cbbfa8","type":"function","z":"aa2cf2ae.2eba2","name":"Insert Cities data into Cloudant","func":"global.set(\"isCityTweetInserted\",1)\nmsg.payload = {\n    \n    \"tweet\":msg.tweet.text,\n    \"score\":msg.sentiment.score, \n    \"location\": msg.tweet.user.location\n}\nmsg.topic = \"InsertTweets\"\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1110,"y":440,"wires":[["cabd8d8a.a97b4"]]},{"id":"d8499e14.64e64","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":1890,"y":440,"wires":[]},{"id":"531e81e4.25d5","type":"comment","z":"aa2cf2ae.2eba2","name":"Cities tweet data","info":"","x":2080,"y":440,"wires":[]},{"id":"aea1b64c.3f3648","type":"inject","z":"aa2cf2ae.2eba2","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"1","x":890,"y":320,"wires":[["4527bd71.ecc094"]]},{"id":"4527bd71.ecc094","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":1090,"y":320,"wires":[["4aa02b43.020b24","da90df7c.da971","8c034725.d94fd8","e8be6d7c.72fe2"]]},{"id":"4aa02b43.020b24","type":"function","z":"aa2cf2ae.2eba2","name":"Clean Tweets","func":"\nmsg = {payload:msg.payload.length, topic:\"CleanTweets\" }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":400,"wires":[["cabd8d8a.a97b4"]]},{"id":"cabd8d8a.a97b4","type":"function","z":"aa2cf2ae.2eba2","name":"Merging 2 messages","func":"context.data = context.data || {};\n\nswitch(msg.topic) {\n    \n    case \"CleanTweets\":\n        context.data.countDocs = msg.payload;\n        msg = null;    \n        break;\n    \n    case \"InsertTweets\":\n        context.data.TweetInfo = msg.payload;\n        msg = null;\n        break;\n}\n\nif(global.get(\"isCityTweetInserted\") == 1 && context.data.countDocs!=null && context.data.TweetInfo!=null)\n{\n    var msg = {};\n    msg.payload = context.data.TweetInfo;\n    msg.doc_length = context.data.countDocs;\n    \n    global.set(\"isCityTweetInserted\", 0 );\n    \n    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1520,"y":440,"wires":[["4f5e639f.37ac6c"]]},{"id":"4f5e639f.37ac6c","type":"switch","z":"aa2cf2ae.2eba2","name":"","property":"doc_length","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"},{"t":"lte","v":"1000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":440,"wires":[["986d843b.83e408"],["d8499e14.64e64"]]},{"id":"986d843b.83e408","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":1910,"y":380,"wires":[["2e117ac.a256486"]]},{"id":"2e117ac.a256486","type":"function","z":"aa2cf2ae.2eba2","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":380,"wires":[["2c9e4e06.5f7022"]]},{"id":"f8ce7ac4.8c79a8","type":"debug","z":"aa2cf2ae.2eba2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2850,"y":400,"wires":[]},{"id":"2c9e4e06.5f7022","type":"split","z":"aa2cf2ae.2eba2","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":2360,"y":380,"wires":[["737c5ac8.6c10e4"]]},{"id":"737c5ac8.6c10e4","type":"function","z":"aa2cf2ae.2eba2","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":2610,"y":380,"wires":[["f8ce7ac4.8c79a8","5b907a09.88f1c4"]]},{"id":"5b907a09.88f1c4","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":2900,"y":360,"wires":[]},{"id":"e5c0d79a.740588","type":"delay","z":"aa2cf2ae.2eba2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":620,"wires":[["6d65597b.93bd38","36ce8b09.666064","97ea2644.9e2d68"]]},{"id":"f9ddea8f.205228","type":"ui_text","z":"aa2cf2ae.2eba2","group":"bc0885d9.4caa18","order":1,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1470,"y":500,"wires":[]},{"id":"f00bc27.2c1d44","type":"ui_gauge","z":"aa2cf2ae.2eba2","name":"","group":"bc0885d9.4caa18","order":2,"width":"0","height":"0","gtype":"gage","title":"Sentiment Scoreboard","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":540,"wires":[]},{"id":"dfe51c52.907e","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"dd498323.a0a8e","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1470,"y":580,"wires":[[]]},{"id":"6d65597b.93bd38","type":"change","z":"aa2cf2ae.2eba2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":540,"wires":[["f9ddea8f.205228"]]},{"id":"36ce8b09.666064","type":"change","z":"aa2cf2ae.2eba2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":580,"wires":[["f00bc27.2c1d44","dfe51c52.907e"]]},{"id":"5cb3420e.d4c7fc","type":"comment","z":"aa2cf2ae.2eba2","name":"All India Tweets Data","info":"","x":2280,"y":740,"wires":[]},{"id":"dd5ef56e.68b388","type":"inject","z":"aa2cf2ae.2eba2","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"1","x":1470,"y":620,"wires":[["fb1902d1.647ed"]]},{"id":"4ee8759e.bc1bfc","type":"function","z":"aa2cf2ae.2eba2","name":"Clean Tweets","func":"\nmsg = {payload:msg.payload.length, topic:\"CleanTweets\" }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":660,"wires":[["d5e9763e.43b978"]]},{"id":"fb1902d1.647ed","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":1660,"y":620,"wires":[["4ee8759e.bc1bfc","4b9f6f4e.bfde4","8822f04b.62c0f"]]},{"id":"97ea2644.9e2d68","type":"function","z":"aa2cf2ae.2eba2","name":"Insert All Over India Tweets in cloudant","func":"global.set(\"isTweetInserted\",1)\n\nmsg.payload = {\n    \n    \"tweet\": msg.tweet.text,\n    \"sentiment_score\" : msg.sentiment.score,\n    \"location\": msg.tweet.user.location\n}\n\nmsg.topic = \"InsertTweets\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":720,"wires":[["d5e9763e.43b978"]]},{"id":"5d0fe464.9cdd6c","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"tweetdata","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":2100,"y":740,"wires":[]},{"id":"d5e9763e.43b978","type":"function","z":"aa2cf2ae.2eba2","name":"Merging 2 messages","func":"context.data = context.data || {};\n\nswitch(msg.topic) {\n    \n    case \"CleanTweets\":\n        context.data.countDocs = msg.payload;\n        msg = null;    \n        break;\n    \n    case \"InsertTweets\":\n        context.data.TweetInfo = msg.payload;\n        msg = null;\n        break;\n}\n\nif(global.get(\"isTweetInserted\") == 1 && context.data.countDocs!=null && context.data.TweetInfo!=null)\n{\n    var msg = {};\n    msg.payload = context.data.TweetInfo;\n    msg.doc_length = context.data.countDocs;\n    \n    global.set(\"isTweetInserted\", 0 );\n    \n    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1720,"y":720,"wires":[["738ed9f7.5c90f8"]]},{"id":"738ed9f7.5c90f8","type":"switch","z":"aa2cf2ae.2eba2","name":"","property":"doc_length","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"},{"t":"lte","v":"1000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1930,"y":720,"wires":[["f8dc40bd.7e9c7"],["5d0fe464.9cdd6c"]]},{"id":"f8dc40bd.7e9c7","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":2100,"y":700,"wires":[["aaf89043.a9a0a"]]},{"id":"aaf89043.a9a0a","type":"function","z":"aa2cf2ae.2eba2","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":700,"wires":[["1b400b75.d88225"]]},{"id":"bc12ab4.bfe5b58","type":"debug","z":"aa2cf2ae.2eba2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3030,"y":740,"wires":[]},{"id":"1b400b75.d88225","type":"split","z":"aa2cf2ae.2eba2","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":2520,"y":700,"wires":[["7f453ae0.08e174"]]},{"id":"7f453ae0.08e174","type":"function","z":"aa2cf2ae.2eba2","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":700,"wires":[["bc12ab4.bfe5b58","f5c8bb23.a5a868"]]},{"id":"f5c8bb23.a5a868","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":3060,"y":700,"wires":[]},{"id":"6eb0d9c9.0b89b8","type":"function","z":"aa2cf2ae.2eba2","name":"Insert States data in cloudant","func":"global.set(\"isStateTweetInserted\",1)\nmsg.payload = {\n    \n    \"tweet\":msg.tweet.text,\n    \"score\":msg.sentiment.score, \n    \"location\": msg.tweet.user.location\n}\nmsg.topic = \"InsertTweets\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1080,"y":760,"wires":[["c591492d.bc03d8"]]},{"id":"c7ad02b9.e2aee","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":1870,"y":860,"wires":[]},{"id":"e7656c9d.0a613","type":"comment","z":"aa2cf2ae.2eba2","name":"States_tweet_data ","info":"","x":2050,"y":860,"wires":[]},{"id":"91180364.0fe23","type":"inject","z":"aa2cf2ae.2eba2","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":"1","x":830,"y":840,"wires":[["a1b833af.e9166"]]},{"id":"a1b833af.e9166","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":1030,"y":840,"wires":[["f2e99984.a078c8","b337f4c9.3a1d38","dd687a2b.002ba8","43b57ac3.de0344","36ed5351.294c2c","410178c4.43d8e8","c53639d5.d56ab8"]]},{"id":"f2e99984.a078c8","type":"function","z":"aa2cf2ae.2eba2","name":"Clean Tweets","func":"\nmsg = {payload:msg.payload.length, topic:\"CleanTweets\" }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":840,"wires":[["c591492d.bc03d8"]]},{"id":"c591492d.bc03d8","type":"function","z":"aa2cf2ae.2eba2","name":"Merging 2 messages","func":"context.data = context.data || {};\n\nswitch(msg.topic) {\n    \n    case \"CleanTweets\":\n        context.data.countDocs = msg.payload;\n        msg = null;    \n        break;\n    \n    case \"InsertTweets\":\n        context.data.TweetInfo = msg.payload;\n        msg = null;\n        break;\n}\n\nif(global.get(\"isStateTweetInserted\") == 1 && context.data.countDocs!=null && context.data.TweetInfo!=null)\n{\n    var msg = {};\n    msg.payload = context.data.TweetInfo;\n    msg.doc_length = context.data.countDocs;\n    \n    global.set(\"isStateTweetInserted\", 0 );\n    \n    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1460,"y":840,"wires":[["64dfd0a7.e9573"]]},{"id":"64dfd0a7.e9573","type":"switch","z":"aa2cf2ae.2eba2","name":"","property":"doc_length","propertyType":"msg","rules":[{"t":"gt","v":"1000","vt":"str"},{"t":"lte","v":"1000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1670,"y":840,"wires":[["2a32af17.ce999"],["c7ad02b9.e2aee"]]},{"id":"2a32af17.ce999","type":"cloudant in","z":"aa2cf2ae.2eba2","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":1870,"y":820,"wires":[["bb1383ec.42a2c"]]},{"id":"bb1383ec.42a2c","type":"function","z":"aa2cf2ae.2eba2","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":820,"wires":[["acd242eb.7fd67"]]},{"id":"6257f9e7.8ae348","type":"debug","z":"aa2cf2ae.2eba2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2750,"y":840,"wires":[]},{"id":"acd242eb.7fd67","type":"split","z":"aa2cf2ae.2eba2","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":2280,"y":820,"wires":[["adc284c6.e0eeb8"]]},{"id":"adc284c6.e0eeb8","type":"function","z":"aa2cf2ae.2eba2","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":820,"wires":[["6257f9e7.8ae348","a304b944.85fad8"]]},{"id":"a304b944.85fad8","type":"cloudant out","z":"aa2cf2ae.2eba2","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":2820,"y":800,"wires":[]},{"id":"da90df7c.da971","type":"function","z":"aa2cf2ae.2eba2","name":"Mumbai","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Mumbai = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Mumbai\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nMumbai.push(pos, neg, neu);\n\nmsg = {payload: Mumbai, topic:\"Mumbai\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1320,"y":60,"wires":[["f3cd6d2e.ed1cb","75b13ede.0eb4d","f2ac513.9e80bb","71d06fc.94a109","95ab30c2.f7d87","b9295657.8528c8","53d70f22.450a7"]]},{"id":"8c034725.d94fd8","type":"function","z":"aa2cf2ae.2eba2","name":"Bangalore","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Bangalore = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Bangalore\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nBangalore.push(pos, neg, neu);\n\nmsg = {payload:Bangalore, topic:\"Bangalore\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1330,"y":160,"wires":[["2f4558ac.8df6f8","3cbf8c3a.6343e4","a0ce6b66.c89d98","c578c42.9fa1e38","a98c0e3a.3b911","f537cca1.e3006","53d70f22.450a7"]]},{"id":"e8be6d7c.72fe2","type":"function","z":"aa2cf2ae.2eba2","name":"Chennai","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Chennai = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Chennai\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nChennai.push(pos, neg, neu);\n\nmsg = {payload: Chennai, topic:\"Chennai\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1320,"y":260,"wires":[["b5034053.30cef","8920693a.517118","f3f08d9f.b384f","bcac39c0.72fe38","e1d2ff50.b08aa","a18689fa.4f3d48","53d70f22.450a7"]]},{"id":"f3cd6d2e.ed1cb","type":"ui_text","z":"aa2cf2ae.2eba2","group":"31e88f4f.57b3d","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1800,"y":20,"wires":[]},{"id":"75b13ede.0eb4d","type":"ui_text","z":"aa2cf2ae.2eba2","group":"31e88f4f.57b3d","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1770,"y":60,"wires":[]},{"id":"f2ac513.9e80bb","type":"ui_text","z":"aa2cf2ae.2eba2","group":"31e88f4f.57b3d","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1720,"y":100,"wires":[]},{"id":"2f4558ac.8df6f8","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e19bdfd.856d72","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1740,"y":140,"wires":[]},{"id":"3cbf8c3a.6343e4","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e19bdfd.856d72","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1690,"y":180,"wires":[]},{"id":"a0ce6b66.c89d98","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e19bdfd.856d72","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1700,"y":220,"wires":[]},{"id":"b5034053.30cef","type":"ui_text","z":"aa2cf2ae.2eba2","group":"b3a68518.fbaa18","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1600,"y":260,"wires":[]},{"id":"8920693a.517118","type":"ui_text","z":"aa2cf2ae.2eba2","group":"b3a68518.fbaa18","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1650,"y":300,"wires":[]},{"id":"f3f08d9f.b384f","type":"ui_text","z":"aa2cf2ae.2eba2","group":"b3a68518.fbaa18","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1600,"y":340,"wires":[]},{"id":"71d06fc.94a109","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1970,"y":20,"wires":[["75d0874c.6db928"]]},{"id":"95ab30c2.f7d87","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2010,"y":60,"wires":[["75d0874c.6db928"]]},{"id":"b9295657.8528c8","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1970,"y":100,"wires":[["75d0874c.6db928"]]},{"id":"c578c42.9fa1e38","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1890,"y":140,"wires":[["d6b1e104.dadf1"]]},{"id":"a98c0e3a.3b911","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1870,"y":180,"wires":[["d6b1e104.dadf1"]]},{"id":"f537cca1.e3006","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1930,"y":200,"wires":[["d6b1e104.dadf1"]]},{"id":"bcac39c0.72fe38","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1950,"y":240,"wires":[["1454782c.41aac8"]]},{"id":"e1d2ff50.b08aa","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1930,"y":280,"wires":[["1454782c.41aac8"]]},{"id":"a18689fa.4f3d48","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1930,"y":320,"wires":[["1454782c.41aac8"]]},{"id":"71a7a264.7641ec","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"31e88f4f.57b3d","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#e56699","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2430,"y":40,"wires":[[]]},{"id":"75d0874c.6db928","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2230,"y":40,"wires":[["71a7a264.7641ec"]]},{"id":"2139844b.7c0cfc","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"e19bdfd.856d72","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2410,"y":200,"wires":[[]]},{"id":"d6b1e104.dadf1","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2210,"y":200,"wires":[["2139844b.7c0cfc"]]},{"id":"d74f6641.b7a288","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"b3a68518.fbaa18","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2470,"y":280,"wires":[[]]},{"id":"1454782c.41aac8","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2230,"y":280,"wires":[["d74f6641.b7a288"]]},{"id":"53d70f22.450a7","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - line","func":"var Mumbai = context.get(\"Mumbai\") || [] ;\nvar Bangalore =context.get(\"Bangalore\") || [] ; \nvar Chennai = context.get(\"Chennai\") || [];\n\nswitch (msg.topic){\n    case \"Mumbai\":\n        Mumbai = msg.payload; //payload NOT paydoad  :)//store in context for next time \n        context.set(\"Mumbai\", Mumbai);\n        break;\n    case \"Bangalore\":\n        Bangalore = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Bangalore\", Bangalore);\n        break;\n    case \"Chennai\":\n        Chennai = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Chennai\", Chennai);\n        break;\n}\n\nvar m={\n    \"series\":[\"Mumbai\", \"Bangalore\",\"Chennai\"],\n    \"data\":[Mumbai, Bangalore, Chennai],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\n\n\n/*\nvar m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\n*/\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2410,"y":140,"wires":[["9b8c0db8.8326b"]]},{"id":"9b8c0db8.8326b","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"3da360c6.75829","order":0,"width":"9","height":"12","label":"All 3 cities Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2660,"y":140,"wires":[[]]},{"id":"4b9f6f4e.bfde4","type":"function","z":"aa2cf2ae.2eba2","name":"Top recent Tweets","func":"var TableArray = [];\n\nfunction myemoji(emoji_val)\n{\n    var score=emoji_val;\n    var cnt=0;\n        if(score===0)\n        {\n            cnt=128528;\t\n        }\n        else if(score>0){\n            cnt=128525;\n        }\n        else if(score<0){\n            cnt=128531;\n        }\n        else{\n            cnt=128526;\n        }\n    return cnt;    \n}\n\nfor(var i=msg.payload.length-5;i<msg.payload.length;i++)\n{\n    var emoji_val=myemoji(msg.payload[i].sentiment_score);\n    var TableEntry = {\n      \"tweet\" : msg.payload[i].tweet ,\n      \"sentiment_score\" : msg.payload[i].sentiment_score, \n      \"emoji\": String.fromCodePoint(emoji_val)\n      };\n    TableArray.push(TableEntry);\n}\n\nmsg.payload = TableArray;\nreturn msg;\n","outputs":1,"noerr":0,"x":1870,"y":580,"wires":[["36ef5ebe.bf9032","775db414.e418ec","da0a6337.97485"]]},{"id":"36ef5ebe.bf9032","type":"debug","z":"aa2cf2ae.2eba2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2010,"y":500,"wires":[]},{"id":"775db414.e418ec","type":"ui_table","z":"aa2cf2ae.2eba2","group":"cc848a0d.3ed7a8","name":"table","order":2,"width":"11","height":"9","columns":[{"field":"tweet","title":"Tweet","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sentiment_score","title":"sentiment","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"emoji","title":"Emoji","width":"","align":"center","formatter":"star","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":2190,"y":500,"wires":[]},{"id":"da0a6337.97485","type":"ui_template","z":"aa2cf2ae.2eba2","group":"cc848a0d.3ed7a8","name":"","order":3,"width":"11","height":"9","format":"<style>\ntable {\n    font-family: 'Arial';\n    border-collapse: collapse;\n    width: 100%;\n    height:60%;\n}\nth { font-size: 18px; color:gray;}\ntd {font-size: 16px;}\nth, td {\n    text-align: left;\n    padding: 8px;\n}\n\n\n</style>\n\n<table id=\"table\" border=\"3\">\n    <thead>\n      <tr class=\"w3-light-grey\">\n        <th><b>Top Recent Tweet</b></th> \n        <th><b>Sentiment Score</b></th>\n        <th>&#128540;</th>\n     </tr>\n     </thead>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\" ng-dblclick=\"sendRow(row)\">\n   <td ng-repeat=\"item in row\" class=\"numeric\" >{{item}}</td>\n </tr>\n </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2180,"y":540,"wires":[[]]},{"id":"8822f04b.62c0f","type":"function","z":"aa2cf2ae.2eba2","name":"Extract tweets ","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar All_India = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].sentiment_score > 0)\n        pos++;\n    else if(msg.payload[i].sentiment_score<0)\n        neg++;\n    else\n        neu++;\n}\n\nAll_India.push(pos, neg, neu);\n\nmsg.payload = All_India;\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":620,"wires":[["5dd26e20.97d63","fb6a725d.39a35","4d4f5bd8.a0da84","4125e6a.d921418","1044b572.b3ae6b","c70580b7.d3682"]]},{"id":"5dd26e20.97d63","type":"ui_text","z":"aa2cf2ae.2eba2","group":"ccdd04cf.43d8f8","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"row-center","x":2420,"y":540,"wires":[]},{"id":"fb6a725d.39a35","type":"ui_text","z":"aa2cf2ae.2eba2","group":"ccdd04cf.43d8f8","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"row-center","x":2430,"y":580,"wires":[]},{"id":"4d4f5bd8.a0da84","type":"ui_text","z":"aa2cf2ae.2eba2","group":"ccdd04cf.43d8f8","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"row-center","x":2420,"y":620,"wires":[]},{"id":"8de55696.4daae8","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"12c42c26.2881c4","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3270,"y":580,"wires":[[]]},{"id":"bd19897d.220418","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":3050,"y":580,"wires":[["8de55696.4daae8"]]},{"id":"4125e6a.d921418","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2610,"y":540,"wires":[["bd19897d.220418"]]},{"id":"1044b572.b3ae6b","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2610,"y":580,"wires":[["bd19897d.220418"]]},{"id":"c70580b7.d3682","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2590,"y":620,"wires":[["bd19897d.220418"]]},{"id":"b337f4c9.3a1d38","type":"function","z":"aa2cf2ae.2eba2","name":"Maharashtra ","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Maharashtra = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Maharashtra, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nMaharashtra.push(pos, neg, neu);\n\nmsg = {payload:Maharashtra, topic: \"Maharashtra\" }\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1250,"y":920,"wires":[["6916be3a.e0ca2","bc6754cc.d07f08","28be71fc.7724be","1e12b14e.340c9f","374b19a9.07cdb6","ff4dcdac.2996","12473330.5c905d"]]},{"id":"6916be3a.e0ca2","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e10d7d00.b7895","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1800,"y":900,"wires":[]},{"id":"bc6754cc.d07f08","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e10d7d00.b7895","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1810,"y":940,"wires":[]},{"id":"28be71fc.7724be","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e10d7d00.b7895","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1820,"y":980,"wires":[]},{"id":"45fdb7a3.03b428","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"e10d7d00.b7895","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2730,"y":920,"wires":[[]]},{"id":"fd465520.0e0538","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2530,"y":920,"wires":[["45fdb7a3.03b428"]]},{"id":"1e12b14e.340c9f","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2110,"y":900,"wires":[["fd465520.0e0538"]]},{"id":"374b19a9.07cdb6","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2130,"y":940,"wires":[["fd465520.0e0538"]]},{"id":"ff4dcdac.2996","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2130,"y":980,"wires":[["fd465520.0e0538"]]},{"id":"dd687a2b.002ba8","type":"function","z":"aa2cf2ae.2eba2","name":"Tamil Nadu","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Tamil_Nadu = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Tamil Nadu, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nTamil_Nadu.push(pos, neg, neu);\n\nmsg = { payload: Tamil_Nadu, topic: \"Tamil_Nadu\" };\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1250,"y":980,"wires":[["d48bb543.d2c128","d208de61.0a8a","8003490d.803f68","d3961630.3fd228","549d997b.1604d8","a4992c47.8128","12473330.5c905d"]]},{"id":"43b57ac3.de0344","type":"function","z":"aa2cf2ae.2eba2","name":"Delhi","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Delhi= [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Delhi, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nDelhi.push(pos, neg, neu);\n\nmsg= { payload:Delhi, topic: \"Delhi\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1230,"y":1040,"wires":[["aeab1cbd.b0f83","a7ac555b.9514c8","e32aa5d4.78a688","750675aa.6a92fc","196cf467.de2fbc","22eed49d.e5d7ec","12473330.5c905d"]]},{"id":"36ed5351.294c2c","type":"function","z":"aa2cf2ae.2eba2","name":"Gujarat","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Gujarat = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Gujarat, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nGujarat.push(pos, neg, neu);\n\nmsg = { payload:Gujarat, topic:\"Gujarat\" }\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1240,"y":1100,"wires":[["3e98460a.f65e2a","7b16a4cf.455a2c","7531086.b44e1f8","aa3d2586.6add58","6047ab2a.5a1c74","4e390309.3997fc","12473330.5c905d"]]},{"id":"d48bb543.d2c128","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e6c073b5.2266a","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1800,"y":1020,"wires":[]},{"id":"d208de61.0a8a","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e6c073b5.2266a","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1830,"y":1060,"wires":[]},{"id":"8003490d.803f68","type":"ui_text","z":"aa2cf2ae.2eba2","group":"e6c073b5.2266a","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1860,"y":1100,"wires":[]},{"id":"f1a16d47.6404a","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"e6c073b5.2266a","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2770,"y":1040,"wires":[[]]},{"id":"3a3eaa97.ff2db6","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2570,"y":1040,"wires":[["f1a16d47.6404a"]]},{"id":"d3961630.3fd228","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2150,"y":1020,"wires":[["3a3eaa97.ff2db6"]]},{"id":"549d997b.1604d8","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2150,"y":1060,"wires":[["3a3eaa97.ff2db6"]]},{"id":"a4992c47.8128","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2170,"y":1100,"wires":[["3a3eaa97.ff2db6"]]},{"id":"aeab1cbd.b0f83","type":"ui_text","z":"aa2cf2ae.2eba2","group":"add0c154.8dc7b","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1860,"y":1140,"wires":[]},{"id":"a7ac555b.9514c8","type":"ui_text","z":"aa2cf2ae.2eba2","group":"add0c154.8dc7b","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1870,"y":1180,"wires":[]},{"id":"e32aa5d4.78a688","type":"ui_text","z":"aa2cf2ae.2eba2","group":"add0c154.8dc7b","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1900,"y":1220,"wires":[]},{"id":"fef8b374.fdca5","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"add0c154.8dc7b","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2810,"y":1160,"wires":[[]]},{"id":"5f115a86.277484","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2610,"y":1160,"wires":[["fef8b374.fdca5"]]},{"id":"750675aa.6a92fc","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2210,"y":1140,"wires":[["5f115a86.277484"]]},{"id":"196cf467.de2fbc","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2210,"y":1180,"wires":[["5f115a86.277484"]]},{"id":"22eed49d.e5d7ec","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2210,"y":1220,"wires":[["5f115a86.277484"]]},{"id":"3e98460a.f65e2a","type":"ui_text","z":"aa2cf2ae.2eba2","group":"67d1805a.1a5cb","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1900,"y":1260,"wires":[]},{"id":"7b16a4cf.455a2c","type":"ui_text","z":"aa2cf2ae.2eba2","group":"67d1805a.1a5cb","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1930,"y":1300,"wires":[]},{"id":"7531086.b44e1f8","type":"ui_text","z":"aa2cf2ae.2eba2","group":"67d1805a.1a5cb","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1940,"y":1340,"wires":[]},{"id":"37905a98.741196","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"67d1805a.1a5cb","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2770,"y":1280,"wires":[[]]},{"id":"5ea7c6dd.6a8178","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2570,"y":1280,"wires":[["37905a98.741196"]]},{"id":"aa3d2586.6add58","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2150,"y":1260,"wires":[["5ea7c6dd.6a8178"]]},{"id":"6047ab2a.5a1c74","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2170,"y":1300,"wires":[["5ea7c6dd.6a8178"]]},{"id":"4e390309.3997fc","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2170,"y":1340,"wires":[["5ea7c6dd.6a8178"]]},{"id":"410178c4.43d8e8","type":"function","z":"aa2cf2ae.2eba2","name":"Uttar Pradesh","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Uttar_Pradesh = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Uttar Pradesh, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nUttar_Pradesh.push(pos, neg, neu);\n\nmsg = { payload : Uttar_Pradesh, topic:\"Uttar_Pradesh\"};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1260,"y":1180,"wires":[["b8243678.6e4648","55655051.995d6","aae89d0.d48416","63568c37.2b93b4","98008ada.fb1208","f4750e1e.5275e","12473330.5c905d"]]},{"id":"c53639d5.d56ab8","type":"function","z":"aa2cf2ae.2eba2","name":"Karnataka","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Karnataka = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Karnataka, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nKarnataka.push(pos, neg, neu);\n\nmsg = {payload:Karnataka, topic:\"Karnataka\"};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1250,"y":1240,"wires":[["f769c151.4d049","ee0e3027.a3fe9","961ff51f.59f1c8","96cddff5.da0c8","aeb76798.7056a8","1070fc51.043f54","12473330.5c905d"]]},{"id":"b8243678.6e4648","type":"ui_text","z":"aa2cf2ae.2eba2","group":"57148312.c4755c","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1900,"y":1380,"wires":[]},{"id":"55655051.995d6","type":"ui_text","z":"aa2cf2ae.2eba2","group":"57148312.c4755c","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1910,"y":1420,"wires":[]},{"id":"aae89d0.d48416","type":"ui_text","z":"aa2cf2ae.2eba2","group":"57148312.c4755c","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1920,"y":1460,"wires":[]},{"id":"f769c151.4d049","type":"ui_text","z":"aa2cf2ae.2eba2","group":"c1b88909.0e50f8","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1700,"y":1480,"wires":[]},{"id":"ee0e3027.a3fe9","type":"ui_text","z":"aa2cf2ae.2eba2","group":"c1b88909.0e50f8","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1750,"y":1520,"wires":[]},{"id":"961ff51f.59f1c8","type":"ui_text","z":"aa2cf2ae.2eba2","group":"c1b88909.0e50f8","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1760,"y":1560,"wires":[]},{"id":"63568c37.2b93b4","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2070,"y":1400,"wires":[["62df9261.da725c"]]},{"id":"98008ada.fb1208","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2090,"y":1440,"wires":[["62df9261.da725c"]]},{"id":"f4750e1e.5275e","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2110,"y":1480,"wires":[["62df9261.da725c"]]},{"id":"96cddff5.da0c8","type":"function","z":"aa2cf2ae.2eba2","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1970,"y":1520,"wires":[["45c03bcf.19f214"]]},{"id":"aeb76798.7056a8","type":"function","z":"aa2cf2ae.2eba2","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1990,"y":1560,"wires":[["45c03bcf.19f214"]]},{"id":"1070fc51.043f54","type":"function","z":"aa2cf2ae.2eba2","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":2010,"y":1600,"wires":[["45c03bcf.19f214"]]},{"id":"4231effa.aa24b","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"57148312.c4755c","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2530,"y":1440,"wires":[[]]},{"id":"62df9261.da725c","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2330,"y":1440,"wires":[["4231effa.aa24b"]]},{"id":"c03021c1.fc684","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"c1b88909.0e50f8","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2510,"y":1560,"wires":[[]]},{"id":"45c03bcf.19f214","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2310,"y":1560,"wires":[["c03021c1.fc684"]]},{"id":"12473330.5c905d","type":"function","z":"aa2cf2ae.2eba2","name":"DataPrepare - line","func":"var Maharashtra = context.get(\"Maharashtra\") || [] ;\nvar Tamil_Nadu =context.get(\"Tamil_Nadu\") || [] ; \nvar Delhi = context.get(\"Delhi\") || [];\nvar Gujarat = context.get(\"Gujarat\") || [];\nvar Uttar_Pradesh = context.get(\"Uttar_Pradesh\") || [];\nvar Karnataka = context.get(\"Karnataka\") || [];\n\nswitch (msg.topic){\n    case \"Maharashtra\":\n        Maharashtra = msg.payload; //payload NOT paydoad  :)//store in context for next time \n        context.set(\"Maharashtra\",Maharashtra);\n        break;\n    case \"Tamil_Nadu\":\n        Tamil_Nadu = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Tamil_Nadu\", Tamil_Nadu);\n        break;\n    case \"Delhi\":\n        Delhi = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Delhi\", Delhi);\n        break;\n    case \"Gujarat\":\n        Gujarat = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Gujarat\", Gujarat);\n        break;\n    case \"Uttar_Pradesh\":\n        Uttar_Pradesh = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Uttar_Pradesh\", Uttar_Pradesh);\n        break;\n    case \"Karnataka\":\n        Karnataka = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Karnataka\", Karnataka);\n        break;\n}\n\nvar m={\n    \"series\":[\"Maharashtra\", \"Tamil_Nadu\",\"Delhi\", \"Gujarat\", \"Uttar_Pradesh\", \"Karnataka\"],\n    \"data\":[Maharashtra, Tamil_Nadu,Delhi, Gujarat, Uttar_Pradesh, Karnataka],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\n\n\n/*\nvar m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\n*/\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2910,"y":1220,"wires":[["40377e30.20829"]]},{"id":"40377e30.20829","type":"ui_chart","z":"aa2cf2ae.2eba2","name":"","group":"6659e56e.e7118c","order":0,"width":"10","height":"12","label":"All 6 states Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3160,"y":1240,"wires":[[]]},{"id":"a5f2cb0e.a77978","type":"ui_template","z":"aa2cf2ae.2eba2","group":"31e88f4f.57b3d","name":"city_mumbai","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://thumbs.dreamstime.com/b/hindu-temple-flag-trees-hindu-small-temple-flag-trees-151501180.jpg\" style=\"vertical-align:middle\">\n\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1050,"y":60,"wires":[[]]},{"id":"55b8f8dd.f37c68","type":"ui_template","z":"aa2cf2ae.2eba2","group":"e19bdfd.856d72","name":"city_banglore","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://s3-eu-west-1.amazonaws.com/ipsmedialibrary/wp-content/uploads/2019/04/30112528/hindu-temple-clipart-1.jpg\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1050,"y":120,"wires":[[]]},{"id":"afcd80bf.5fc93","type":"ui_template","z":"aa2cf2ae.2eba2","group":"b3a68518.fbaa18","name":"city_chennai","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://thumbs.dreamstime.com/b/hindu-temple-flag-trees-hindu-small-temple-flag-trees-151501180.jpg\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1050,"y":180,"wires":[[]]},{"id":"d99ef847.fe5b68","type":"ui_template","z":"aa2cf2ae.2eba2","group":"e521f570.17be98","name":"citybackground","order":0,"width":0,"height":0,"format":"<html>\n    \n<style>\n    body {\n  background-image: url('https://thumbs.gfycat.com/TerrificLiquidAdmiralbutterfly-size_restricted.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n   \n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":240,"wires":[[]]},{"id":"d6355340.f5ebf","type":"ui_template","z":"aa2cf2ae.2eba2","group":"a49f43fb.33174","name":"sakshi","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2016/12/user-experience-designers-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    sakshipophale01@gmail.com</center>\n</p>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":760,"wires":[[]]},{"id":"6981d2cc.eb7a7c","type":"comment","z":"aa2cf2ae.2eba2","name":"About us developer details","info":"","x":130,"y":700,"wires":[]},{"id":"61a899bc.d6e748","type":"ui_template","z":"aa2cf2ae.2eba2","group":"a3250dc5.94123","name":"mansi","order":2,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2017/02/project-manager-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    shinde.mansi55@gmail.com</center>\n</p>\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":760,"wires":[[]]},{"id":"545afab9.931084","type":"ui_template","z":"aa2cf2ae.2eba2","group":"d80de15.67a6d2","name":"simran","order":2,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2016/12/user-experience-designers-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    s_pun_m@yahoo.co.in</center>\n</p>\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":760,"wires":[[]]},{"id":"6ec7eeb6.fc66c","type":"ui_template","z":"aa2cf2ae.2eba2","group":"721432a0.ad012c","name":"About_Background","order":4,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://cdn.dribbble.com/users/861334/screenshots/3824904/office.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":760,"wires":[[]]},{"id":"466940fa.a22a","type":"ui_template","z":"aa2cf2ae.2eba2","group":"78378a4b.f98ad4","name":"By WHO","order":0,"width":"10","height":"10","format":"\n\n<a class=\"twitter-timeline\" href=\"https://twitter.com/WHO?ref_src=twsrc%5Etfw\">Tweets by WHO</a> <script async src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":940,"wires":[[]]},{"id":"7568cebc.17809","type":"ui_template","z":"aa2cf2ae.2eba2","group":"a75de01.a251e2","name":"By MOH","order":1,"width":"10","height":"10","format":"<a class=\"twitter-timeline\" href=\"https://twitter.com/MoHFW_INDIA?ref_src=twsrc%5Etfw\">Tweets by MoHFW_INDIA</a> <script async src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":940,"wires":[[]]},{"id":"41bb84e6.326aec","type":"ui_template","z":"aa2cf2ae.2eba2","group":"43b24e64.9c93c","name":"About_Background","order":4,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://cdn.dribbble.com/users/861334/screenshots/3824904/office.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":430,"y":940,"wires":[[]]},{"id":"cce6e7e.691b818","type":"comment","z":"aa2cf2ae.2eba2","name":"Top 3 cities based sentiment analysis","info":"","x":970,"y":280,"wires":[]},{"id":"ca94cf55.2d71c","type":"comment","z":"aa2cf2ae.2eba2","name":"Extracting twitter data for live sentiment analysis and storing it in cloudant","info":"","x":260,"y":420,"wires":[]},{"id":"a7dc6a4e.d84218","type":"ui_template","z":"aa2cf2ae.2eba2","group":"6d34206e.2fdc2","name":"Home_img1","order":2,"width":"10","height":"8","format":"<html>\n<body>   \n<img src=\"https://static.dezeen.com/uploads/2020/03/the-spinoff-toby-morris-siouxsie-wiles-design-graphics-illustration-coronavirus_dezeen_1704_col_2.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3170,"y":400,"wires":[[]]},{"id":"fe83f727.984568","type":"ui_template","z":"aa2cf2ae.2eba2","group":"6d34206e.2fdc2","name":"Home_img2","order":3,"width":"10","height":"7","format":"<html>\n<body>   \n<img src=\"https://upload.wikimedia.org/wikipedia/commons/0/03/Covid-19-Breaking-bubbles-02.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3330,"y":400,"wires":[[]]},{"id":"26d1ab7.62e9754","type":"ui_template","z":"aa2cf2ae.2eba2","group":"bc0885d9.4caa18","name":"Background","order":3,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://images.unsplash.com/photo-1588781553983-474ccfee18bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3170,"y":440,"wires":[[]]},{"id":"9f10c6c8.5d9978","type":"ui_template","z":"aa2cf2ae.2eba2","group":"bc0885d9.4caa18","name":"","order":1,"width":0,"height":0,"format":"<html>\n    <head>\n        <body>\n            <p>Unit: u==0 &#128528;     |     u>0 &#128525;   |       u<0 &#128531;</p>\n        </body>\n    </head>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3320,"y":440,"wires":[[]]},{"id":"a0b40e7b.f2851","type":"ui_template","z":"aa2cf2ae.2eba2","group":"2f9b7703.4e4b88","name":"Team SMS Bot","order":0,"width":"5","height":"4","format":"<html>\n<body>   \n\n<a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=b3259308-1853-43c7-9251-4ceeaedff6c2&serviceInstanceID=fc182fa9-74dc-4f3f-989d-ef3a934985ee\" \n  target=\"popup\" \n  onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=b3259308-1853-43c7-9251-4ceeaedff6c2&serviceInstanceID=fc182fa9-74dc-4f3f-989d-ef3a934985ee','popup','width=600,height=600'); return false;\">\n   <img src=\"https://i.pinimg.com/236x/7d/9b/1d/7d9b1d662b28cd365b33a01a3d0288e1--robot-logo-design-logo-robot.jpg\">\n</a>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3180,"y":480,"wires":[[]]},{"id":"67420eb2.6671d","type":"comment","z":"aa2cf2ae.2eba2","name":"All India Sentiment Analysis","info":"","x":2440,"y":500,"wires":[]},{"id":"1d376db6.64e5c2","type":"comment","z":"aa2cf2ae.2eba2","name":"Top 5 recent Tweets","info":"","x":1810,"y":540,"wires":[]},{"id":"3d3a6a8f.612ef6","type":"comment","z":"aa2cf2ae.2eba2","name":"6 top states wise sentiment analysis","info":"","x":880,"y":800,"wires":[]},{"id":"219f70ef.3924a","type":"ui_template","z":"aa2cf2ae.2eba2","group":"e10d7d00.b7895","name":"img_mh","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://i.pinimg.com/originals/08/d5/20/08d520815c1c4fcea8491ff50a4da813.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":960,"wires":[[]]},{"id":"32d5b5ea.dbb5ba","type":"ui_template","z":"aa2cf2ae.2eba2","group":"e6c073b5.2266a","name":"img_TN","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://cdn.dribbble.com/users/3278455/screenshots/7104885/malayali_girl.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1040,"wires":[[]]},{"id":"7114b6c5.4be018","type":"ui_template","z":"aa2cf2ae.2eba2","group":"add0c154.8dc7b","name":"img_delhi","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://cdn.dribbble.com/users/654541/screenshots/2923478/white-house.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1000,"wires":[[]]},{"id":"e02aff47.f7902","type":"ui_template","z":"aa2cf2ae.2eba2","group":"67d1805a.1a5cb","name":"img_Gujrat","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://i.pinimg.com/originals/08/d5/20/08d520815c1c4fcea8491ff50a4da813.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1080,"wires":[[]]},{"id":"851ab028.c4476","type":"ui_template","z":"aa2cf2ae.2eba2","d":true,"group":"d87accae.aafd","name":"img_2","order":1,"width":"10","height":"8","format":"<html>\n<body>   \n<img src=\"https://www.godfrey.com/-/media/godfrey/services/social-distancing/covid-19-marketing-strategy-525x350-p1.gif?la=en&&hasC502DF7443F6E8A2C5582DB86B0A66F1019A0D3E\" style=\"vertical-align:middle\" name=\"img\">\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":920,"wires":[[]]},{"id":"1cd8b2f4.b4c58d","type":"ui_template","z":"aa2cf2ae.2eba2","group":"ee0aed71.f5ca7","name":"img_up","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c48d549c-d420-46a7-acee-f02751601295/ddre5tr-87b271f3-a017-48a3-9a6d-29e5680021ab.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzQ4ZDU0OWMtZDQyMC00NmE3LWFjZWUtZjAyNzUxNjAxMjk1XC9kZHJlNXRyLTg3YjI3MWYzLWEwMTctNDhhMy05YTZkLTI5ZTU2ODAwMjFhYi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Fyvp8zoBm_3WstStGiaCa0Oj9kRvzg2iuTFMOcbIzac\" style=\"vertical-align:middle\">\n<style>\n    body{\n        height :100%;\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1120,"wires":[[]]},{"id":"d8de929.91c037","type":"ui_template","z":"aa2cf2ae.2eba2","group":"bcd54115.8e225","name":"img_karnatak","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://www.moneytrans.eu/moneytransblog/wp-content/uploads/sites/10/2017/10/Diwali-gif-0.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        height :100%;\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":1160,"wires":[[]]},{"id":"720c1ac7.408744","type":"comment","z":"aa2cf2ae.2eba2","name":"Important Updates","info":"","x":110,"y":900,"wires":[]},{"id":"30f0d782.56a098","type":"comment","z":"aa2cf2ae.2eba2","name":"Live tweets sentiment analysis","info":"","x":1200,"y":500,"wires":[]},{"id":"3e78379c.80ddf8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"bc0885d9.4caa18","type":"ui_group","z":"","name":"Live Tweets","tab":"9f4c19ad.780e58","order":1,"disp":true,"width":"10","collapse":false},{"id":"dd498323.a0a8e","type":"ui_group","z":"","name":"Live Tweet Sentiment/ Hr","tab":"9f4c19ad.780e58","order":4,"disp":true,"width":"10","collapse":false},{"id":"31e88f4f.57b3d","type":"ui_group","z":"","name":"Mumbai","tab":"1880dbae.186724","order":2,"disp":true,"width":"6","collapse":false},{"id":"e19bdfd.856d72","type":"ui_group","z":"","name":"Bangalore","tab":"1880dbae.186724","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3a68518.fbaa18","type":"ui_group","z":"","name":"Chennai","tab":"1880dbae.186724","order":4,"disp":true,"width":"6","collapse":false},{"id":"3da360c6.75829","type":"ui_group","z":"","name":"Cities","tab":"1880dbae.186724","order":1,"disp":true,"width":"9","collapse":false},{"id":"cc848a0d.3ed7a8","type":"ui_group","z":"","name":"Top Recent Tweets","tab":"9f4c19ad.780e58","order":3,"disp":true,"width":"12","collapse":false},{"id":"ccdd04cf.43d8f8","type":"ui_group","z":"","name":"Tweets Count","tab":"9f4c19ad.780e58","order":5,"disp":true,"width":"6","collapse":false},{"id":"12c42c26.2881c4","type":"ui_group","z":"","name":"Overall Sentiment","tab":"9f4c19ad.780e58","order":6,"disp":true,"width":"6","collapse":false},{"id":"e10d7d00.b7895","type":"ui_group","z":"","name":"Maharashtra","tab":"5154d11c.047c4","order":2,"disp":true,"width":"6","collapse":false},{"id":"e6c073b5.2266a","type":"ui_group","z":"","name":"Tamil Nadu","tab":"5154d11c.047c4","order":3,"disp":true,"width":"6","collapse":false},{"id":"add0c154.8dc7b","type":"ui_group","z":"","name":"Delhi","tab":"5154d11c.047c4","order":4,"disp":true,"width":"6","collapse":false},{"id":"67d1805a.1a5cb","type":"ui_group","z":"","name":"Gujarat","tab":"5154d11c.047c4","order":5,"disp":true,"width":"6","collapse":false},{"id":"57148312.c4755c","type":"ui_group","z":"","name":"Uttar Pradesh","tab":"5154d11c.047c4","order":7,"disp":true,"width":"6","collapse":false},{"id":"c1b88909.0e50f8","type":"ui_group","z":"","name":"Karnataka","tab":"5154d11c.047c4","order":9,"disp":true,"width":"6","collapse":false},{"id":"6659e56e.e7118c","type":"ui_group","z":"","name":"All 6 states","tab":"5154d11c.047c4","order":1,"disp":true,"width":"10","collapse":false},{"id":"e521f570.17be98","type":"ui_group","z":"","name":"city_backhround","tab":"1880dbae.186724","order":5,"disp":false,"width":"1","collapse":false},{"id":"a49f43fb.33174","type":"ui_group","z":"","name":"Sakshi","tab":"d364bf35.8dbe1","order":2,"disp":true,"width":"6","collapse":false},{"id":"a3250dc5.94123","type":"ui_group","z":"","name":"Mansi ","tab":"d364bf35.8dbe1","order":3,"disp":true,"width":"6","collapse":false},{"id":"d80de15.67a6d2","type":"ui_group","z":"","name":"Simran ","tab":"d364bf35.8dbe1","order":4,"disp":true,"width":"6","collapse":false},{"id":"721432a0.ad012c","type":"ui_group","z":"","name":"We are here to build better solution for you!","tab":"d364bf35.8dbe1","order":1,"disp":false,"width":"1","collapse":false},{"id":"78378a4b.f98ad4","type":"ui_group","z":"","name":"Updates by WHO","tab":"f0dea476.846ba8","order":2,"disp":true,"width":"10","collapse":false},{"id":"a75de01.a251e2","type":"ui_group","z":"","name":"Updates by Ministry of Health","tab":"f0dea476.846ba8","order":3,"disp":true,"width":"10","collapse":false},{"id":"43b24e64.9c93c","type":"ui_group","z":"","name":"imp_update_background","tab":"f0dea476.846ba8","order":1,"disp":false,"width":"1","collapse":false},{"id":"6d34206e.2fdc2","type":"ui_group","z":"","name":"Imgset","tab":"9f4c19ad.780e58","order":2,"disp":false,"width":"10","collapse":false},{"id":"2f9b7703.4e4b88","type":"ui_group","z":"","name":"Team SMS Bot","tab":"9f4c19ad.780e58","order":7,"disp":true,"width":"5","collapse":false},{"id":"d87accae.aafd","type":"ui_group","z":"","name":"Image","tab":"5154d11c.047c4","order":6,"disp":false,"width":"10","collapse":false},{"id":"ee0aed71.f5ca7","type":"ui_group","z":"","name":"up_side_img","tab":"5154d11c.047c4","order":8,"disp":false,"width":"6","collapse":false},{"id":"bcd54115.8e225","type":"ui_group","z":"","name":"karnatak_side","tab":"5154d11c.047c4","order":10,"disp":false,"width":"6","collapse":false},{"id":"9f4c19ad.780e58","type":"ui_tab","z":"","name":"Tweet Scoreboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1880dbae.186724","type":"ui_tab","z":"","name":"Major Cities","icon":"map","order":3,"disabled":false,"hidden":false},{"id":"5154d11c.047c4","type":"ui_tab","z":"","name":"Major States","icon":"camera","order":2,"disabled":false,"hidden":false},{"id":"d364bf35.8dbe1","type":"ui_tab","z":"","name":"AboutUs","icon":"mail","order":5,"disabled":false,"hidden":false},{"id":"f0dea476.846ba8","type":"ui_tab","z":"","name":"Important Updates","icon":"dashboard","order":4,"disabled":false,"hidden":false}]